In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [4]:
data = [['Bread','Milk','Eggs'],
        ['Bread','Diapers','Beer','Eggs'],
        ['Milk','Diapers','Beer','Cola'],
        ['Bread','Milk','Diapers','Beer','Cola']]

In [5]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary,columns = te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0  False   True  False    False   True   True
1   True   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True   True     True  False   True

In [6]:
frequent_itemsets = apriori(df,min_support = 0.75,use_colnames=True)
frequent_itemsets

   support         itemsets
0     0.75           (Beer)
1     0.75          (Bread)
2     0.75        (Diapers)
3     0.75           (Milk)
4     0.75  (Diapers, Beer)

In [7]:
rules = association_rules(frequent_itemsets,metric='confidence',min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Diapers),(Beer),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
1,(Beer),(Diapers),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0

In [9]:
selected_columns = ['antecedents','consequents','antecedent support','consequent support','support','confidence','lift','leverage','conviction','zhangs_metric']
print(rules[selected_columns])

  antecedents consequents  antecedent support  consequent support  support  \
0   (Diapers)      (Beer)                0.75                0.75     0.75
1      (Beer)   (Diapers)                0.75                0.75     0.75

   confidence      lift  leverage  conviction  zhangs_metric
0         1.0  1.333333    0.1875         inf            1.0
1         1.0  1.333333    0.1875         inf            1.0