In [40]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [62]:
iris = pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")
x = iris.iloc[:,:-1]
z = iris.iloc[:,-1]

In [63]:
print(x)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [64]:
print(z)

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [61]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [43]:
le = LabelEncoder()
y = le.fit_transform(y)

In [44]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [79]:
y_train

array([1, 2, 2, 0, 0, 0, 0, 1, 1, 0, 1, 0, 2, 1, 1, 1, 0, 2, 2, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 2, 1, 1, 2, 0, 2, 1, 0, 0, 1, 1, 0, 0,
       2, 1, 0, 2, 0, 1, 2, 0, 0, 2, 2, 1, 2, 0, 0, 1, 0, 2, 2, 1, 1, 1,
       2, 2, 2, 0, 0, 2, 0, 0, 1, 1, 0, 0, 2, 2, 1, 1, 1, 2, 1, 2, 2, 1,
       0, 2, 1, 1, 0, 1, 0, 1, 0, 2, 1, 0, 1, 2, 0, 0, 0])

In [82]:
model = GaussianNB()
model.fit(x_train.values,y_train)

GaussianNB()

In [88]:
y_pred = model.predict(x_test.values)

# Evaluation of performance of model

In [89]:
accuracy = accuracy_score(y_test,y_pred)
print(accuracy)

0.9555555555555556

# Decode the predicted class labels using LabelEncoder

In [90]:
y_pred = le.inverse_transform(y_pred)

# Predicting a new value

In [92]:
val = np.array([[5.1,3.5,1.4,0.2]])
pred_class = model.predict(val)
pred_class = le.inverse_transform(pred_class)
print("Predicted class :",pred_class)

Predicted class : ['setosa']