In [4]:
from scipy.stats import pearsonr
import numpy as np

In [15]:
x = [-2,-1,0,1,2]
y = [4,1,3,2,0]

In [16]:
sig_xy=0
for i in range(len(x)):
    a = x[i]*y[i]
    sig_xy += a
mean_x = np.mean(x)
mean_y = np.mean(y)
std_x = np.std(x)
std_y = np.std(y)

In [17]:
corr = ((sig_xy/len(x)) - (mean_x*mean_y))/(std_x*std_y)
corr

-0.6999999999999998

In [18]:
x = [-2,-1,0,1,2]
y = [4,1,3,2,0]
corr = pearsonr(x,y)
corr

(-0.7000000000000001, 0.1881204043741873)

In [19]:
import pandas as pd

In [21]:
df = pd.read_excel("Scores.xlsx")

In [23]:
df.head()

     English    History
0  74.573424  86.496775
1  75.115299  86.801171
2  75.691345  87.981466
3  73.888714  85.411392
4  75.015225  86.812830

In [24]:
print(df.corr())

          English   History
English  1.000000  0.930912
History  0.930912  1.000000